body {
    min-width: 20em;
    min-height: 100%;
    width: 100%;
    background: #f2f2f2;
    color: #333;
    font: 100%/1.5 "Helvetica Neue", "Microsoft Yahei", sans-serif;
}


.header{
  height: 50px;
}

.tab-headers{
  display: -webkit-flex;
  border-top:1px solid rgba(180,180,180,1);
  position: fixed;
  bottom:0;
  width: 100%;
  font-size: 0.8em;
}

.tab-item.selected{
  color: rgba(64,169,17,1);
}

.tab-item {
  -webkit-flex-grow:1;
  height: 50px;
  text-align: center;
  color: rgba(180,180,180,1);
}


.tab-container{
   overflow: hidden;
   width: 100%;
   height: -webkit-calc(100% - (50px + 50px));
   position: absolute;
}

.tab-content{
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
}